html, body , button{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

input, button {
    padding: 10px 10px;
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 5px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
    /* justify-content: center; */
	height: 100vh;
    gap: 10px;
    box-sizing: border-box;
}

/* Main sections */
#content > div {
    width: 600px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

h2 {
    margin: 0;   
}

#admincontrols {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#articles {
    display: flex;
    flex-direction: column;
}



#content #admin {
	background-color: rgb(253, 205, 205);
}

#content #kasse {
	background-color: rgb(255, 255, 241);
}

#content #ausgabe {
	background-color: rgb(230, 230, 255);
}
#orders {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.order {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;
}

.orderNo {
	font-weight: bold;
	margin-bottom: 0px;
}

.order-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    margin-top: 5px;
    box-sizing: border-box;
}

.order ul li {
	margin: 5px 0;
}

.order button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    box-sizing: border-box;
}

.order button:disabled {
    background-color: #cccccc;
}

.order button:disabled:hover {
    background-color: #cccccc;
    cursor: not-allowed;
}

.order button:hover {
	background-color: #45a049;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button-container button {
    flex: 1 1 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    height: 150px;
    padding: 10px 20px;
    cursor: pointer;
}

#total {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

#clearCart {
    background-color: white;
    border: 1px solid gray;
    color: black;
}

.buttonRow {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    margin-top: 10px;
}

.buttonRow #addOrder {
    flex-grow: 1;
}